.DS_Store
.Trashes
.classpath
.project
.settings/

._*
Thumbs.db
Desktop.ini

*.class
*.pyc
*.bin
*.prefs

*.jar
*.war

war/thaiaccounting/
gwt-unitCache/
test-classes/
www-test/

.apt_generated/

war/WEB-INF/deploy/
war/WEB-INF/classes/

war/WEB-INF/appengine-generated/
