/*********************************************
 * Caveats: Need to modify a bit!!!
 *
 * 1. Copy all from ReportViewImpl.css, paste below the mark
 * 2. Modify nth-child\(n\) to nth-child(n)
 *    Tip: Find \ and replace with ''
 * 3. Change border 1px to 0.4pt and 4px to 1pt
 * 4. Add -fs-table-paginate: paginate in .flexTable
 ********************************************* */

/* ===========================================
   Print styles
   =========================================== */

body, table, table th, table td {
    font-family: "Arial Unicode MS", Arial, sans-serif;
    font-size: 8.7pt;
    color: #222;
}

body {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    direction: ltr;
    margin: 0;
    padding: 0;
}

@page {
    size: letter;
	margin: 0.532in 0.122in 0.644in 0.932in;
    @top-right {
        font-family: "Arial Unicode MS", Arial, sans-serif;
        font-size: 7pt;
        content: counter(page) " / " counter(pages);
    }
}

/*********************************************
 * Paste from ReportViewImpl below HERE
 ********************************************* */

@external .flexTable, .chart, .journal, .ledger, .trial, .finance;

.flexTable {
    width: 100%;
    -fs-table-paginate: paginate;
}

.flexTable tr {
    page-break-inside: avoid;
}

.flexTable thead {
    display: table-header-group;
}

.flexTable thead tr th {
    font-weight: normal;
}

.flexTable thead tr:last-child th {
    border-bottom: 0.4pt solid #222;
    text-align: left;
}



/**************************************************
 * Account chart
 *************************************************/
.chart thead tr:nth-child(1) th:nth-child(1) {
    text-align: left;
}

.chart thead tr:nth-child(1) th:nth-child(2) {
    text-align: right;
}

.chart thead tr:nth-child(2) th:nth-child(1) {
    text-align: left;
}

.chart thead tr:last-child th:nth-child(1){
    width: 10%;
}

.chart thead tr:last-child th:nth-child(3){
    width: 5%;
}

.chart thead tr:last-child th:nth-child(4){
    width: 5%;
}

.chart thead tr:last-child th:nth-child(5){
    width: 5%;
}

.chart thead tr:last-child th:nth-child(6){
    width: 10%;
}



/**************************************************
 * Journal
 *************************************************/
.journal thead tr:nth-child(1) th:nth-child(1) {
    text-align: left;
}

.journal thead tr:nth-child(1) th:nth-child(2) {
    text-align: right;
}

.journal thead tr:nth-child(2) th:nth-child(1) {
    text-align: left;
}

.journal thead tr:nth-child(3) th:nth-child(1) {
    text-align: left;
}

.journal thead tr:last-child th:nth-child(1){
    width: 10%;
}

.journal thead tr:last-child th:nth-child(4){
    width: 13%;
    text-align: center !important;
}

.journal thead tr:last-child th:nth-child(5){
    width: 13%;
    text-align: center !important;
}

.journal tbody tr td:nth-child(4){
    text-align: right !important;
}

.journal tbody tr td:nth-child(5){
    text-align: right !important;
}



/**************************************************
 * Ledger
 *************************************************/
.ledger thead tr:nth-child(1) th:nth-child(1) {
    text-align: left;
}

.ledger thead tr:nth-child(1) th:nth-child(2) {
    text-align: right;
}

.ledger thead tr:nth-child(2) th:nth-child(1) {
    text-align: left;
}

.ledger thead tr:nth-child(3) th:nth-child(1) {
    text-align: left;
}

.ledger thead tr:last-child th:nth-child(1){
    width: 7%;
}

.ledger thead tr:last-child th:nth-child(2){
    width: 4%;
}

.ledger thead tr:last-child th:nth-child(3){
    width: 10%;
}

.ledger thead tr:last-child th:nth-child(5){
    width: 13%;
    text-align: center !important;
}

.ledger thead tr:last-child th:nth-child(6){
    width: 13%;
    text-align: center !important;
}

.ledger thead tr:last-child th:nth-child(7){
    width: 13%;
    text-align: center !important;
}

.ledger tbody tr td:nth-child(5){
    text-align: right !important;
}

.ledger tbody tr td:nth-child(6){
    text-align: right !important;
}

.ledger tbody tr td:nth-child(7){
    text-align: right !important;
}



/**************************************************
 * Trial
 *************************************************/
.trial thead tr:nth-child(1) th:nth-child(1) {
    text-align: left;
}

.trial thead tr:nth-child(1) th:nth-child(2) {
    text-align: right;
}

.trial thead tr:nth-child(2) th:nth-child(1) {
    text-align: left;
}

.trial thead tr:nth-child(3) th:nth-child(1) {
    text-align: left;
}

.trial thead tr:last-child th:nth-child(1){
    width: 10%;
}

.trial thead tr:last-child th:nth-child(3){
    width: 13%;
    text-align: center !important;
}

.trial thead tr:last-child th:nth-child(4){
    width: 13%;
    text-align: center !important;
}
.trial tbody tr td:nth-child(3){
    text-align: right !important;
}

.trial tbody tr td:nth-child(4){
    text-align: right !important;
}



/**************************************************
 * Finance
 *************************************************/
.finance thead tr:nth-child(1) th:nth-child(1) {
    text-align: center;
}

.finance thead tr:nth-child(2) th:nth-child(1) {
    text-align: center;
}

.finance thead tr:nth-child(3) th:nth-child(1) {
    text-align: center;
}

.finance tbody tr td:nth-child(2){
    width: 13%;
    text-align: right !important;
}



/**************************************************
 * Helper
 *************************************************/

@external .right, .center, uline, duline, auline, aduline;

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.uline {
    border-bottom: 0.4pt solid #222;
}

.duline {
    border-bottom: 2.5pt double #222;
}

.auline {
    border-top: 0.4pt solid #222;
    border-bottom: 0.4pt solid #222;
}

.aduline {
    border-top: 0.4pt solid #222;
    border-bottom: 2.5pt double #222;
}

@external page-always-break-before, page-avoid-break-after;

.page-always-break-before {
    page-break-before: always;
}

.page-avoid-break-after {
    page-break-after: avoid;
}

