<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- Servlets -->
    <servlet>
        <servlet-name>rpcServiceServlet</servlet-name>
        <servlet-class>gwt.server.RpcServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>rpcServiceServlet</servlet-name>
        <url-pattern>/thaiaccounting/rpcService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StressTestServlet</servlet-name>
        <servlet-class>gwt.server.StressTestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StressTestServlet</servlet-name>
        <url-pattern>/stresstest</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PdfServlet</servlet-name>
        <servlet-class>gwt.server.PdfServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PdfServlet</servlet-name>
        <url-pattern>/pdf</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>acc.jsp</welcome-file>
    </welcome-file-list>
</web-app>
